* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}
body {
  height: 97vmin;
  background-color: black;
}
.main-quiz--div {
  text-align: center;
  margin: 20px auto;
}
.main-quiz {
  background-color: #03cae4;
  color: #fff;
  padding: 12px 10px;
  text-decoration: none;
  border-radius: 10px;
}
.main-quiz:hover {
  background-color: #04adc4;
}
.planets {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}
#sun {
  height: 24vmin;
  width: 24vmin;
}
#mercury {
  height: 4vmin;
  width: 4vmin;
}

#venus {
  height: 6vmin;
  width: 6vmin;
}

#earth {
  height: 8vmin;
  width: 8vmin;
}

#mars {
  height: 7vmin;
  width: 7vmin;
}

#jupiter {
  height: 16vmin;
  width: 16vmin;
}

#saturn {
  height: 24vmin;
  width: 24vmin;
  border-radius: 0%;
}

#uranus {
  height: 12vmin;
  width: 12vmin;
}

#neptune {
  height: 10vmin;
  width: 10vmin;
}
