body {
  height: 97vmin;
  background-color: black;
}
.planets {
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 80%;
}
#sun {
  height: 24vmin;
  width: 24vmin;
}
#mercury {
  height: 4vmin;
  width: 4vmin;
}

#venus {
  height: 6vmin;
  width: 6vmin;
}

#earth {
  height: 8vmin;
  width: 8vmin;
}

#mars {
  height: 7vmin;
  width: 7vmin;
}

#jupiter {
  height: 16vmin;
  width: 16vmin;
}

#saturn {
  height: 24vmin;
  width: 24vmin;
  border-radius: 0%;
}

#uranus {
  height: 12vmin;
  width: 12vmin;
}

#neptune {
  height: 10vmin;
  width: 10vmin;
}

.planet-info {
  display: none;
  position: absolute;
  color: #fff;
  text-align: center;
  right: 40%;
  left: 40%;
  bottom: 10%;
  background-color: #8e54ff;
  padding: 12px 8px;
  border-radius: 10px;
}
.show {
  display: block;
}
