.container {
    margin: 20px 0px;
    color: #011936;
  }
  .container-title {
    text-align: center;
  }
  hr {
    margin: 20px 0px;
  }
  .container-info {
    display: flex;
    justify-content: center;
    gap: 50px;
    width: 1200px;
    margin: 0px auto;
  }
  .container-info--image {
    height: 500px;
    width: 600px;
  }
  